
src/Phema\.Routing\.Extensions\.Caching/bin/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Extensions\.Caching/obj/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Extensions/bin/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Extensions/obj/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Extensions/obj/

src/Phema\.Routing\.Sandbox/bin/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Sandbox/obj/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Sandbox/obj/

src/Phema\.Routing\.Tests/bin/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Tests/obj/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Tests/obj/

src/Phema\.Routing/bin/Debug/netstandard2\.0/

src/Phema\.Routing/obj/Debug/netstandard2\.0/

src/Phema\.Routing/obj/

src/Phema\.Routing\.Extensions\.Caching/obj/

\.idea/\.idea\.Phema\.Routing/\.idea/

\.idea/\.idea\.Phema\.Routing/
