
src/Phema\.Routing\.Extensions\.Caching/bin/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Extensions\.Caching/obj/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Extensions/bin/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Extensions/obj/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Extensions/obj/

src/Phema\.Routing\.Sandbox/bin/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Sandbox/obj/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Sandbox/obj/

src/Phema\.Routing\.Tests/bin/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Tests/obj/Debug/netcoreapp2\.1/

src/Phema\.Routing\.Tests/obj/

src/Phema\.Routing/bin/Debug/netstandard2\.0/

src/Phema\.Routing/obj/Debug/netstandard2\.0/

src/Phema\.Routing/obj/

src/Phema\.Routing\.Extensions\.Caching/obj/

\.idea/\.idea\.Phema\.Routing/\.idea/

\.idea/\.idea\.Phema\.Routing/

src/Phema\.Routing\.Extensions\.Caching/bin/Release/netcoreapp2\.1/

src/Phema\.Routing\.Extensions\.Caching/bin/Release/

src/Phema\.Routing\.Extensions/bin/Release/netcoreapp2\.1/

src/Phema\.Routing\.Extensions/bin/Release/

src/Phema\.Routing/bin/Release/netstandard2\.0/

src/Phema\.Routing/bin/Release/

tests/Phema\.Routing\.Extensions\.Tests/bin/Release/netcoreapp2\.1/

tests/Phema\.Routing\.Extensions\.Tests/obj/Release/netcoreapp2\.1/

tests/Phema\.Routing\.Tests/bin/Release/netcoreapp2\.1/

tests/Phema\.Routing\.Tests/obj/Release/netcoreapp2\.1/

tests/Phema\.Routing\.Extensions\.Tests/obj/

src/Phema\.Routing\.Sandbox/bin/Release/netcoreapp2\.1/

src/Phema\.Routing\.Core/obj/

tests/Phema\.Routing\.Tests/obj/

src/Phema\.Routing\.Core/bin/Release/netcoreapp2\.2/

tests/Phema\.Routing\.Extensions\.Tests/bin/Release/netcoreapp2\.2/

tests/Phema\.Routing\.Tests/bin/Release/netcoreapp2\.2/

Phema\.Routing\.sln\.DotSettings\.user

tests/Phema\.Routing\.Extensions\.Tests/bin/Release/netcoreapp3\.0/

*.dll

tests/Phema\.Routing\.Tests/bin/Release/netcoreapp3\.0/

tests/Phema\.Routing\.Extensions\.Tests/bin/Release/netcoreapp3\.0/

examples/AspNetCoreExample/bin/Release/netcoreapp3\.0/

examples/AspNetCoreExample/obj/

examples/AspNetCoreExample/bin/Debug/netcoreapp3\.0/

tests/Phema\.Routing\.Tests/bin/Debug/netcoreapp3\.0/

tests/Phema\.Routing\.Extensions\.Tests/bin/Debug/netcoreapp3\.0/

examples/Phema\.Routing\.EndpointExample/bin/Debug/netcoreapp3\.0/

examples/Phema\.Routing\.EndpointExample/obj/Debug/netcoreapp3\.0/

examples/Phema\.Routing\.EndpointExample/obj/

examples/Phema\.Routing\.MvcExample/bin/Release/netcoreapp3\.0/

examples/Phema\.Routing\.MvcExample/obj/Debug/netcoreapp3\.0/

examples/Phema\.Routing\.MvcExample/obj/Release/netcoreapp3\.0/

examples/Phema\.Routing\.MvcExample/bin/Debug/netcoreapp3\.0/

examples/Phema\.Routing\.MvcExample/obj/

.vs